*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: rgba(255, 8, 49, 0.657);
  --smallNavigation-display : block;
  --smallNavigation-text-align : center;
  --buttoncolors-secondary :  rgb(66, 184, 221);
}
body{
  font-family: 'Poiret One', cursive;
  overflow-x: hidden;
}

header{
  text-align: center;
  color: black;
  font-size: 35px;
  margin:100px 0;
}

/* Navigation bar */

#nav-container{
  display: flex;
  align-items: center;
  background-color: rgba(225,225,225,0.3);
  justify-content: space-around;
  position: sticky;
  top: 0;
  transition: 0.5s;
  z-index: 10;
  max-width: 100%;
}
#nav-items{
  display: flex;
}

#nav-items > li{
  list-style: none;
  padding: 0.75rem;
}

#nav-items > li a{
  text-decoration: none;
  color:white;
  font-size: 20px;
}
#social-icons{
  display: flex;
  padding: 0.75rem;
}
#social-icons > li{
  list-style: none;
  padding: 0.75rem;
}
#social-icons > li > a{
  color:black;
}
.fa{
  border-radius: 50%;
  background-color: rgba(225,225,225,0.9);
  padding: 16px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

#nav-container > h1{
  color: #35bdf6;
  font-size: 30px;
}

#nav-container > h1 > span{
  font-size: 30px;
  color:white;  
}

/* Hamburger */
  #hamburger{
    display: none;
  }
  #hamburger > a > div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  #side-nav{
    display: none;
    background-color: rgba(225,225,225,0.7);
    width: 30vw;
    height: 220px;
    align-items: center;
    border-radius: 18px 0px 0px 18px; 
    position: fixed;
    right: 0;
    justify-content: center;
    
  }
  #side-nav >  #closeNav{
    color: black;
    position: absolute;
    font-size: 93px;
    top: -36px;
    right: 15px;
  }

  #side-nav > a{
    padding: 10px 0px;
    text-decoration: none;
    color: black;
    font-size: 15px;
  }

/* Cover Page */

#coverPage{
  background: url('../assests/vfx.jpg') no-repeat center center/cover;
  height: 100vh;
  color: white;
  margin-top: -106px;
  height: 100vh;
} 
#coverPage .container{
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absoulte;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}

/* #coverPage:before{
  content:'';
  background: url('../assests/vfx.jpg') no-repeat center center/cover;
  opacity: 0.9;
  position: absolute; 
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
} */


#coverPage h1,h2,p{
  padding-bottom: 0.9rem;
} 

#coverPage > .container > button{
    background: var(--buttoncolors-secondary);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: white;
    width: 99px;
    height: 42px;
    font-weight: 700;
}



/* About Me section */
#aboutmecontainer{
  margin: 50px 0;
}
#aboutme{
  background-color: coral;
  margin: 0 auto;
  transform: skew(20deg);
  max-width: 85%;  
  display:flex;
  align-items: center;
  height: 306px;
  color: white;
}

#aboutmeimage img{
  width: 227px;
  height: 217px;
  border-radius: 50%;
  /* padding: 29px; */
  margin: 16px 21px;
  transform:skew(-20deg);
}

#aboutme-content > p{
  transform:skew(-20deg);
  align-items: center;
}

#aboutme-content > h1{
  transform:skew(-20deg);
  align-items: center;
}

/* Instagram */

#instagram{
  display: flex;
  justify-content: center;
  margin: 42px 0px;
}

#instagram li{
  list-style: none;
}

#instagram img{
  padding: 0px 0px;
  width: 71%;
  border: 2px solid grey;
}

/* Testimonal */


#testimonal-head{
  display: flex;
  margin: 100px 0;
  justify-content: space-evenly;
}
#testimonal{
  max-width: 40%;
  text-align: center;
}
#testimonal img{
  border-radius: 50%;
  max-width: 32%;
}





/* Footer */

footer {
  height: 136px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

footer > #footercontact > span > button{
  background-color: var(--buttoncolors-secondary);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: white;
  width: 99px;
  height: 42px;
  font-weight: 700;
}
footer > #footercontact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
footer > #footerend{
  display: flex;
  justify-content: center;
}




/* Smart Mobile Devices */
@media only screen and (max-width:500px){
  #nav-container{
    height: 78px;
  }
  #nav-items,  #social-icons{
    display: none;
  }
  #hamburger{
    display: flex;
  }
  #aboutme{
    flex-direction: column;
    transform: none;
    max-width: 80%;
    border-radius: 4%;
    height: 100%;
  }
  #aboutmeimage img{
    transform: none;
    height: 125px;
    width: 124px;
  }
  #aboutme-content{
    padding: 18px;
  }
  #aboutme-content > h1,p{
    transform: none;
  }
  
  #testimonal-head{
    flex-direction: column;
    align-items: center;
  }

  #testimonal{
    max-width: 75%;
    margin-bottom: 29px;
  }


  #footercontact{
    font-size: 6px;
    margin-bottom: 10px;
  }
  #footercontact button{
    width: 84px;
    height: 30px;
}
}


/* Landscape */
@media (min-height:300px) and (max-height:380px){
  #coverPage{
    font-size: 11px;
    margin-top: -78px;
}
}

/* Tablet */

@media (min-width:501px) and (max-width:768px){
  #nav-container{
    height: 78px;
  }
  #nav-items,  #social-icons{
    display: none;
  }
  #hamburger{
    display: flex;
  }
  #aboutme{
    flex-direction: column;
    transform: none;
    max-width: 80%;
    border-radius: 4%;
    height: 100%;
  }
  #aboutmeimage img{
    transform: none;
    height: 125px;
    width: 124px;
  }
  #aboutme-content{
    padding: 18px;
  }
  #aboutme-content > h1,p{
    transform: none;
  }
  #testimonal-head{
    flex-direction: column;
    align-items: center;
  }
  #testimonal{
    max-width: 75%;
    margin-bottom: 29px;
  }
  #footercontact{
    font-size: 10px;
  }    
}

@media (min-width:769px) and (max-width:992px){
  #nav-container{
    height: 78px;
  }
  #nav-items,  #social-icons{
    display: none;
  }
  #hamburger{
    display: flex;
  }
}


/* Tablet */

@media (min-width:769px) and (max-width:1200px){

}




/* WideScreen */


@media (min-width:1201px){
  
}





/* 

#nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem;
  font-family: 'Patrick+Hand', Roboto;
}
#nav-container > h1{
  color: var(--primary-color);
}
h1 > span{
  font-size: 13px;
  color: pink;
}
#nav-contain > ul{
  display: flex;
  list-style: none;
}
#nav-contain > ul > li{
  padding: 0.75rem;
}
a{
  text-decoration: none;
  color:black;
  font-weight: bolder;
}


/* 
/* .fa{
  border-radius: 50%;
  background-color: rgba(225,225,225,0.4);
  padding: 16px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
} */